/*
* {
  outline: 1px solid black;
}
*/
body,
html {
  margin : 0 auto;

}

body {
font-family: 'Indie Flower', cursive;
  width: 100%;
background-color: pink;
}
container {
  width: auto;
}
.row {
  text-align: center;
  border: 3px solid white;
}
h1 {
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
}
#time {
  font-size: 30px;
}
#temp,#wind,#humidity {
  font-size: 50px;
}
#city {
  font-size: 40px;
}

i {
  font-size: 70px;
}
#fixIcon {
  color : blue;
  letter-spacing: 1em;
}
